<form >
    <div class="col">
      <label for="exampleInputEmail1">Correo Electronico</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresar Correo">
      
    </div>
    <div  class="col">
      <label for="exampleInputPassword1">contraseña</label>
      <input type="password" class="form-control" id="password" placeholder="Ingresar contraseña">
    </div>
  
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>
